@import url('https://fonts.googleapis.com/css2?family=Varela+Round&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Work Sans, sans-serif;
}

body {
    background-color: aliceblue;
}

header {
    background-color: #3C3332;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: baseline;
}

main{
    border-top: 4px groove #926F5B;
}

h2 {
    padding: 10px;
    color: #f5f2f2;
    font-weight: bold;
    font-family: Varela Round, sans-serif;
    text-decoration: 2px underline;
    text-shadow: 3px 3px 4px #926F5B;
}

p {
    padding: 10px;
    color: #f5f2f2;
    font-size: 20px;
}

.home-background {
    background-image: url(../images/kitchen.jpeg);
    background-size: cover;
    height: max-content;
    padding: 0;
    margin: 0;
    border: 0;
}

.header a {
    text-decoration: none;
    font-family: Varela Round, sans-serif;
    color: #fff;
    text-shadow: 3px 3px 4px #926F5B;
    font-size: 35px;
}

.map iframe{
    width: 100%;
    height: 400px;
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.menu-li {
    list-style: none;
}

.menu-li:hover {
    text-decoration: 2px underline #fff;
}

.menu-li a {
    text-decoration: none;
    font-family: Varela Round, sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 3px #3c333257;
    font-size: 25px;
}

.main2 {
    padding: 45px;
    display: flex;
    flex-flow: column wrap;
    gap: 35px;
    align-content: flex-end;
}

.wrap {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.about, .opening-time, .phone, .address {
    padding: 10px;
    background-color: #61544be3;
    width: 40%;
    text-align: center;
    border-radius: 15px;
    border: 2px ridge #9d9699;
    box-shadow: 10px 10px #9d969983;
}

.main-courses {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.main-courses h2 {
    text-decoration: none;
    font-family: Varela Round, sans-serif;
    color: #fff;
    text-shadow: 3px 3px 4px #926F5B;
    font-size: 35px;     
}

.list {
    padding: 25PX;
    color: #f5f2f2;
    font-size: 20px;
}

.bread, .pasta, .seafood, .dessert {
    padding: 10px;
    width: 45%;
    text-align: left;
    border: 2px ridge #9d9699;
    border-radius: 15px;
    box-shadow: 10px 10px #9d969983;
    background-color: #3C3332;
}

.bread-photo {
    background-image: url(../images/bread.jpeg);
    width: 45%;
    height: 560px;
    border: 2px ridge #9d9699;
    border-radius: 15px;
    box-shadow: 10px 10px #9d969983;
    background-size: cover;
}

.pasta-photo {
    background-image: url(../images/Pasta.jpeg);
    width: 45%;
    height: 560px;
    border: 2px ridge #9d9699;
    border-radius: 15px;
    box-shadow: 10px 10px #9d969983;
    background-size: cover;
}

.seafood-photo {
    background-image: url(../images/seafood.jpeg);
    width: 45%;
    height: 560px;
    border: 2px ridge #9d9699;
    border-radius: 15px;
    box-shadow: 10px 10px #9d969983;
    background-size: cover;
}

.dessert-photo {
    background-image: url(../images/dessert.jpg);
    width: 45%;
    height: 560px;
    border: 2px ridge #9d9699;
    border-radius: 15px;
    box-shadow: 10px 10px #9d969983;
    background-size: cover;
}

.small {
    color: #f5f2f2;
    font-size: 15px;
}


.main-sign-up{
    padding: 20px;
}


.background-signup {
    background-image: url(../images/chef.jpg);
    background-size: cover;
    height: 1200PX;
}

.sign-up-box {
    margin-top: 2.5%;
    margin-left: 2.5%;
    padding: 20px;
    height: 600px;
    width: 30%;
    border: 1px solid #312a29;
    display: flex;
    flex-direction: column;
    background-color: #1a14149d;
    color: #e3e2de;
    border-radius: 15px;
}

.sign-up-box h2{
    color: #e3e2de;
    text-shadow: 1px 1px 2px #201a1a;
    text-align: center;
    text-decoration: none;
}

.sign-up-box label {
    padding: 10px 10px 10px 0;
    color: #e3e2de;
    font-size: 20px;
    
}

.input{
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border:1px solid #e3e2de;
    border-radius: 5px;
}

.submit {
    padding: 10px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    width: 120px;
    font-weight: bold;
    font-family: Varela Round, sans-serif;
    text-transform: uppercase;
}

.submit:hover {
    background-color: #D1B8A4;
    transition-duration: 1s;
}

.radio {
    padding: 10px;
    border-radius: 5px;
    background-color: #d1b8a4a6;
    color: #252020;
    font-weight: bold;
    border: 1px solid #312a29;
}

footer {
    height: 10px;
    padding: 10px;
    background-color: transparent; 
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    font-size: 40px;
}

.social-media a{
    text-decoration: none;
    color: #312a29;
}

@media screen and (max-width: 1500px) {
    .about, .opening-time, .phone, .address {
        width: 90%;
        margin-right: 5%; 
    }

    .bread, .pasta, .seafood, .dessert {
        height: 700px;
    }

    .bread-photo, .pasta-photo, .seafood-photo, .dessert-photo {
        height: 725px;
        background-position: center;
    }

    .sign-up-box {
        width: 300px;
        height: 700px;
        margin: 20px;
    }
}

@media screen and (max-width: 950px) {
    
    .about, .opening-time, .phone, .address {
        width: 90%;
    }

    .bread, .pasta, .seafood, .dessert {
        height: 700px;
    }

    .main-courses h2 {
        font-size: 20px;
    }

    .main-courses p {
        font-size: 18px;
    }

    .list {
        font-size: 18px;
    }

    .bread-photo, .pasta-photo, .seafood-photo, .dessert-photo {
        height: 725px;
        background-position: center;
    }

    .sign-up-box {
        width: 300px;
        height: 700px;
        margin: 20px;
    }
}

@media screen and (max-width: 500px) {
    .menu {
        display: flex;
        flex-direction: row;    
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .menu-li a {
        font-size: 15px;
    }

    .sign-up-box {
        width: 300px;
        height: 700px;
        margin: 20px;
    }

    .bread, .pasta, .seafood, .dessert {
        width: 90%;
    }

    .main-courses h2 {
        font-size: 20px;
    }

    .main-courses p {
        font-size: 18px;
    }

    .list {
        font-size: 18px;
    }

    .bread-photo, .pasta-photo, .seafood-photo, .dessert-photo {
        width: 95%;
        background-position: center;
    }
    .about, .opening-time, .phone, .address {
        display: flex;
        flex-direction: column;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}